<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> openinterest chart api - <a href="{% url 'openinterest' %}">openinterest</a></h2>
    <h2> maxpain chart api - <a href="{% url 'maxpainhistory' %}">maxpainhistory</a></h2>
    <h2> pcr day api - <a href="{% url 'pcr' %}">pcr</a></h2>
    <h2> pcr history api - <a href="{% url 'pcrhistory' %}">pcrhistory</a></h2>
</body>
</html>